name: publish-marketplace
on: 
  push:
    tags:
      - v*.*.*
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
    - uses: actions/checkout@v1
    - name: get tag
      id: vars
      run: echo ::set-output name=tag::$(echo ${GITHUB_REF:11})
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run test
    - run: npm run publish
      env:
          VSCE_TOKEN: ${{secrets.VSCE_TOKEN}}
    - run: npm run publish-sentry 
      env:
          VERSION: remote-kubernetes-code@${{ steps.vars.outputs.tag }}
          SENTRY_AUTH_TOKEN: ${{secrets.SENTRY_AUTH_TOKEN}}
          SENTRY_ORG: okteto-analytics
          SENTRY_PROJECT: remote-kubernetes-vscode